.me {
    color: lightcyan;
    position:fixed;
    background: rgb(46, 45, 45);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    opacity: 100%;

    transform: translate(-50%,-50%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0%;
    background: rgba(46, 45, 45, 0.6);
  }

.displayAll {
    display: block;
}

.displayFade {
    display: none;
}