.summary {
  position: absolute;
  font-size: 16pt;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  top: 40%;
  justify-content: center;
  text-align: center;
  color: white;
  }
  
  p {
    color: white;
  }
  