.summary {
    display: block;
    width: 50%;
    position: fixed;
    text-align: center;
    font-size: 16pt;
    top: 37%;
    left: 25%;
    align-items: center;
  }
  
  p {
    color: white;
  }
  