* {
    box-sizing: border-box;
}

body {
    background-color: #20B2AA;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#app {
    width: 100%;
    height: 528px;
    padding: 10px;   
}

#projects {
    width: 100%;
    height: 528px;
    padding: 10px;   
}

#about {
    width: 100%;
    height: 528px;
    padding: 10px;   
}

#writings {
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: turquoise;
}

.main-header {
    width: 100%;
    background: peachpuff;
    padding: 0px 10px;
    position: relative;

    color: turquoise;
    text-decoration: none;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    color: turquoise;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: 90%;
    vertical-align: middle;
}

.main-nav__items {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

ul {
    float: right;
}

li {
    list-style: none; 
    float: left;
    margin: 10px;
    text-decoration: none;
    color: turquoise;
}

.main-nav__item a {
    color: turquoise;
}

.main-nav__item a:hover {
    color: black;
    
}
.main-nav__item a:active {
    color: white;

}

a {
    text-decoration: none;
    color:  turquoise;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: coral;
  }
  
  /* mouse over link */
  a:hover {
    color: teal;
  }
  
  /* selected link */
  a:active {
    color: coral;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
  }

