
.me {
    position: absolute;
    font-size: 16pt;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    top: 10%;
    justify-content: center;
    text-align: center;
    color: white;
}

.image1 {
    border-radius: 10%;
    max-height: 250px;
    max-width: 250px;
    transform: rotate(-10deg);
}

.image2 {
    border-radius: 10%;
    max-height: 250px;
    max-width: 250px;
    transform: rotate(10deg);
}